.App {
  text-align: center;
  color: white;
}
button{
  background-color: inherit;
  color: white;
  border: 2px solid white;
  border-radius: 7px;
  padding: 7px;
  margin-top: 15px;
}
input{
  color: rgb(15, 15, 56);
  border: none;
}
body{
  background-color: rgb(15, 15, 56);
}
.red{
  color: red;
}
.bold{
  font-weight: bold ;
}
.wahala{
  text-decoration: underline;
}